.baldoo__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg);

    padding: 2rem 6rem;
}

.baldoo__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.baldoo__navbar-links_logo{
    margin-right: 2rem;
}

.baldoo__navbar-links_logo img{
    width: 62.56px;
    height: 16.02px;
}

.baldoo__navbar-links_container{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: row;

}

.baldoo__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.baldoo__navbar-links_container p,
.baldoo__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.baldoo__navbar-sign button,
.baldoo__navbar-menu_container button{
    padding: 0.5rem 2rem;
    background: #fff;
    border-radius: 50px;
    color: #0a2640;
    font-family: var(--font-primary);
    font-weight: 600;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.baldoo__navbar-menu{
    margin-left: 1rem;

    display: none;
    position: relative;
}

.baldoo__navbar-menu svg{
    cursor: pointer;
}

.baldoo__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-bg);
    padding: 3rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top:1rem ;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.baldoo__navbar-menu_container-links-sign{
    display: none;
}



@media screen and (max-width: 1050px) {
    .baldoo__navbar-links_container {
        display: none;
    }

    .baldoo__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .baldoo__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .baldoo__navbar {
        padding: 2rem;
    }

    .baldoo__navbar-sign {
        display: none;
    }

    .baldoo__navbar-menu_container {
        top: 20px;
    }

    .baldoo__navbar-menu_container-links-sign {
        display: block;
        margin-top: 5px;
    }
}